<form action="/new" method="POST">


    <label for="author-name">author:</label>
    <input type="text" id="author-name" name = 'author' required>
    <label for="message-text">message:</label>
    <input type="text" id="message-text" name="message" required>
    <button type="submit">Send message</button>
</form>