<html lang="en">
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>Messages</title>
</head>
<body>
<h1 style="color: #4d5d5d; text-align: center">Messages</h1>


<% messages.forEach((message)=>{ %>
    <div class="div">
    <p><%= message.user%></p>
        <form action="/detail" method="POST" style="display:inline;">
  <input type="hidden" name="user" value="<%= message.user %>">
  <input type="hidden" name="date" value="<%= message.added %>">
  <input type="hidden" name="text" value="<%= message.text %>">


  <button
    type="submit">
    View
  </button> </div>
</form>

    <br>
<br>
<% }) %>
<a href="/new">Send a new message</a>
</body>
</html>