:root {
    background-color: beige;
}

a{
    text-decoration: none;
    font-size: 1.6rem;
    padding-top: 1rem;
}

button{
height: 35px; width: 75px; border-radius: 20px; color: #8b91c8
}
#date{
    opacity: 50%;
}
textarea:hover, textarea:focus{
    border: 6px dashed #54b2b2;
}

input, textarea{
    border-radius: 20px;
    height: 10rem;
    width: 38rem;
}
form, div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.div{
    border: 4px solid #b6a9d9;
    border-radius: 10px;
}