:root {
    background-color: #a3d3d8;
}

a{
    text-decoration: none;
    font-size: 1.6rem;
    padding-top: 1rem;
}

button{
height: 35px; width: 75px; border-radius: 20px; border: none; background-color: #def8f8;
}
#date{
    opacity: 50%;
}
textarea:hover, textarea:focus{
    border: 6px dashed #7dbfd7;
}

input, textarea{
    border-radius: 20px;
    height: 10rem;
    width: 38rem;
}
form, div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.div{
    border: 4px solid #7dbfd7;
    border-radius: 10px;
}